<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="false"
    version="3.0">

  <display-name>Weather Webapp</display-name>
  
  <!-- listener>       
    <listener-class>
      com.company.InitVariables
    </listener-class>
  </listener--> 
  
  <servlet>
    <servlet-name>weather</servlet-name>
    <servlet-class>com.grigore.weatherwebapp.impl.servlet.WeatherServlet</servlet-class>
    <init-param>
    	<param-name>owmApiKey</param-name>
    	<param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>weather</servlet-name>
    <url-pattern>/weather</url-pattern>
  </servlet-mapping>
    
</web-app>